<!DOCTYPE html>
<html lang="en-US" encoding="utf8">
<head>
  <title>Orbit</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font@master/fonts.css">

    <style>
      /* https://github.com/dreampulse/computer-modern-web-font */
      body {
        font-family: "Computer Modern Serif", sans-serif;
        background: black;
      }

      #splash {
        color: whitesmoke;
        font-size: xxx-large;
      }
</style>
</head>
<body>

<h1 id="splash">welcome to orbit.</h1>

<a href="4d-visualizer.html">ciao</a>

<%
    const { readdirSync } = require("fs")
%>
<%= readdirSync("./pages") %>

</body>
</html>
