<!DOCTYPE html>
<html lang="en-US" encoding="utf8">
<head>
  <title>Orbit</title>
  <style>
      @font-face {
        font-family: "Computer Modern";
        src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
      }
      @font-face {
        font-family: "Computer Modern";
        src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
        font-weight: bold;
      }
      @font-face {
        font-family: "Computer Modern";
        src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
        font-style: italic, oblique;
      }
      @font-face {
        font-family: "Computer Modern";
        src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
        font-weight: bold;
        font-style: italic, oblique;
      }

      body {
        font-family: "Computer Modern", sans-serif;
      }
  </style>
</head>
<body style="background: black">

<h1 id="splash" style="color: whitesmoke; font-family: 'Computer Modern', sans-serif">Welcome to orbit.</h1>

<a href="4d-visualizer">ciao</a>

</body>
</html>
