<!DOCTYPE html>
<html lang="en-US" encoding="utf8">
<head>
  <title>Orbit</title>
    <!-- todo this is bugged. Two styles are being loaded, trhe one specified in webpack config,
        required inside index.js is buggy -->
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font@master/fonts.css">
</head>
<body>

<h1 id="splash">welcome to orbit.</h1>



<%
    const { readdirSync } = require("fs")
    const pages = readdirSync("./pages").filter(page => page !== "index")
%>
<div id="library" class="fadein-slow">
  <% pages.forEach(page => {%>
    <div class="box">
      <%= `<a href="${page}.html" class="diagonal">${page}</a>` %>
    </div>
  <% }) %>
</div>

</body>
</html>
